<section class="intro">
  <div class="row">

    <article>
      <p>Onder het motto <strong>'Developing People'</strong> helpt Defacto organisaties, in het bijzonder bedrijfsacademies en opleidingsafdelingen, bij het opleiden en ontwikkelen van hun medewerkers. De dynamiek in jouw sector vraagt waarschijnlijk bijna automatisch een continu investering in de kennisontwikkeling en opleiding van werknemers.</p>

      <p><strong>CAPP LMS</strong> is een digitale leeromgeving voor alle medewerkers. Een leeromgeving die <em>blended learning</em> mogelijk maakt: e-learning, klassikale trainingen, praktijktrainingen, seminars en congressen worden allemaal ondersteund.</p>

      <p class="featured"><span class="star">*</span>CAPP is een open leermanagementsysteem waarin de e-learningmodules van alle leveranciers kunnen worden afgespeeld. Ook ondersteunt Defacto de <strong>LTI-standaard</strong> waarmee externe content buiten CAPP naadloos wordt geïntegreerd.</p>

      <p><%= image_tag "opleidingscatalogus.png", alt: "CAPP opleidingscatalogus", class: "align-right", width: "375", height: "234" %>Maak je eigen <strong>digitale opleidingscatalogus</strong> en stel deze voor de gehele organisatie beschikbaar. Ook opleidingen die ingekocht worden kunnen in CAPP LMS worden opgenomen. De cursusadministratie, oftewel de complete planning en administratieve afhandeling, vindt geautomatiseerd plaats en zorgt voor een enorme kostenbesparing. Bovendien zorgt de beschikbaarheid van het leerplatform ervoor dat iedereen op elk gewenst moment de e-learning modules kan volgen.</p>

      <p>De resultaten van de opleidingen worden in CAPP LMS vastgelegd en zijn op individueel niveau zichtbaar in elk persoonlijk digitaal portfolio, ook wel e-portfolio genoemd.</p>

      <p><%= image_tag "eportfolio.png", alt: "CAPP eportfolio", class: "align-left", width: "375", height: "234" %>Als manager kun je de performance van het team of de afdeling overzien in allerlei views en overzichten. Zo legt CAPP LMS de basis waarop met CAPP Ontwikkelen kan worden geïnvesteerd in Talentmanagement. Het ontwikkelen van talent en het op de juiste manier inzetten ervan is een wezenlijk behoefte van elke kennisintensieve organisatie. Met CAPP Ontwikkelen kun je Competentiemanagement, Jaargesprekken, Coachinggesprekken en 360 graden feedback inzetten in jouw HR-beleid.</p>

      <p><%= image_tag "360feedback.png", alt: "360feedback", class: "align-right", width: "375", height: "234" %>De integratie van het Leer- en Ontwikkelplein maakt het voor medewerkers eenvoudig om zelf de regie over leeractiviteiten en persoonlijke ontwikkeling te hebben. Met hulpmiddelen als Jaargesprekken, Competentiemanagement, Persoonlijk Ontwikkelplan (POP), 360 feedback en het E-Portfolio kan er individueel, maar ook als team, gewerkt worden aan een continu verbetering.</p>
    </article>

  </div>
</section>
