.learningspaces {
  .hero {
    background-attachment: scroll;
    background-color: $green;
    background-image: url(../images/learningspaces-pattern.svg);
    background-position: center;

    img { 
      margin-bottom: 0.75em;
    }
    h1 {
      font-size: 2em;
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: 0.75em;
    
      @include media($small-only) {
      font-size: 1em;
      margin-bottom: 1.5em;
      }
    }
  }

  .capp-steps {
    .col {
      @include media($medium-only) {
        @include span-columns(6);
        @include omega(2n);
      }

      @include media($large-up) {
        @include span-columns(4);
        @include omega(3n);
      }
    }
  }

  .gray {
    text-align: center;
  }
}
