.solutions { 
  a {
    color: $base-font-color;
  }
  p { 
    min-height: 70px; 
  }
  .row { 
    margin-top: 3em; 
  }
  .solution {
    margin-bottom: 3em;
    text-align:center;
    padding: 2em;
    border: 1px solid #ddd;
    .button { 
      font-size: 1em;
    }
    .solution-icon {
      background: #fff;
      padding: 1em; 
      margin-top: -6em;
      display: inline-block;

      img {
        height: 100px;
      }
    }

    @include media($medium-up) {
      @include span-columns(4);
      
    }
  }
}