.solutions { 
  h2 { 
    font-size: 2em; 
    margin-bottom: 3em;
  }
  a {
    color: $base-font-color;
  }
  p { 
    min-height: 70px; 
  }
  .solution {
    margin-bottom: 6em;
    text-align:center;
    padding: 2em;
    border: 1px solid #ddd;

    .solution-icon {
      background: #fff;
      padding: 1em; 
      margin-top: -6em;
      display: inline-block;

      img {
        height: 140px;
      }
    }

    @include media($medium-up) {
      @include span-columns(6);
      
    }
  }
}