## Meer gedaan krijgen met minder

Door de overstap te maken van traditioneel leren naar e-learning en het lesmateriaal zelf (in-house) te ontwikkelen, realiseer je op eenvoudige wijze een forse kostenbesparing. Geld dat je graag ergens anders aan besteedt.

## Hoe werkt het?

Met de E-learning Starterkit ontwikkel je betaalbaar, snel en eenvoudig eigen e-learning modules, gericht op specifieke vakkennis, gedragscodes of zelfs digitale toetsen. De Starterkit bestaat uit een totaalpakket van hardware, software en consultancy.

Defacto neemt jou alle zorg uit handen en regelt de aanschaf van hardware en software, installatie en licenties..
Indien gewenst is aanvullende ondersteuning, zoals het ontwikkelen van complexere modules, het definiëren van e-learning beleid of ondersteuning bij capaciteitsgebrek altijd mogelijk.

## Wat krijg je?

- Een laptop, met daarop:
- Zeer gebruiksvriendelijke authoring software
- Voorbeeld-modules ter inspiratie
- Het boek: ‘Leren en Laten Leren’
- High Definition camera
- Microfoon
- Twee dagen training on the job
- Een jaar helpdesk-support

## Meteen inzetbaar

Aan het eind van de tweede trainingsdag ben je volledig opgeleid en in staat om zelfstandig lesmateriaal te ontwikkelen en zijn de eerste lesmodules en afrondende toetsen vaak al opgeleverd. Haal op eenvoudige en betaalbare wijze een enorme hoeveelheid kennis en expertise op het gebied van e-learning in huis.

> De tijd van het afhankelijk zijn van dure leveranciers voor al je e-learning materiaal is echt voorbij. Je kunt tegenwoordig zo gemakkelijk zelf, organisatie-eigen e-learning maken.
> <span>- Hans Veeger, Directeur Defacto</span>
